@import "tailwindcss";
@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #020617; /* Slate 950 deep dark background */
}

